<div class=" mt-4 px-3 py-3 ">
  <a [routerLink]="['/transaction']"><button type="button" style="background-color: #796AEE" data-toggle="modal" data-target="#myModal" class="btn btn-primary list" >  Nouvelle Transaction
    </button></a>
</div>
<div class="container px-3 py-3 gris">
 
<div class="card" style="width: 100%" id="listrans">
    <div class="dropdown">
      <div class="card-header d-flex align-items-center">
        <div class="liste">
        <h3 class="h4">Historique des Transaction</h3>
      </div>
    </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>Nom Envoyeur</th>
                <th>Prenom Envoyeur</th>
                <th>Telephone Envoyeur</th>
                <th>Nom Beneficier</th>
                <th>Prenom Beneficier</th>
                <th>Telephone Beneficier</th>
                <th>Montant</th>
                <th>Date D'Envoi</th>
                <th>Date de Retrait</th>
                <th>Caisier</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ Transaction.nomE }}</td>
                <td>{{ Transaction.prenomE }}</td>
                <td>{{ Transaction.telephoneE }}</td>
                <td>{{ Transaction.nomB }}</td>
                <td>{{ Transaction.prenomB }}</td>
                <td>{{ Transaction.telephoneB }}</td>
                <td>{{ Transaction.montant }}</td>
                <td>{{ Transaction.dateTrans }}</td>
                <td>{{ Transaction.dateretrait}}</td>
                <td>{{ Transaction.user.username }}</td>
              </tr>
              <tr>   
                <td>{{ Transaction.transaction.nomE }}</td>
                <td>{{ Transaction.transaction.prenomE }}</td>
                <td>{{ Transaction.transaction.telephoneE }}</td>
                <td>{{ Transaction.transaction.nomB }}</td>
                <td>{{ Transaction.transaction.prenomB }}</td>
                <td>{{ Transaction.transaction.telephoneB }}</td>
                <td>{{ Transaction.transaction.montant }}</td>
                <td>{{ Transaction.transaction.dateTrans }}</td>
                <td>{{ Transaction.dateretrait}}</td>
                <td>{{ Transaction.user.username }}</td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>