<div class=" mt-4 px-3 py-3 ">
  <a [routerLink]="['/transaction']"><button type="button" style="background-color: #796AEE" data-toggle="modal" data-target="#myModal" class="btn btn-primary list" >  Nouvelle Transaction
    </button></a>
</div>
<div class="container px-3 py-3 gris">
 
<div class="card" style="width: 100%" id="listrans">
    <div class="dropdown">
      <div class="card-header d-flex align-items-center">
        <div class="liste">
        <h3 class="h4">Historique des Transaction</h3>
      </div>
    </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>Nom Envoyeur</th>
                <th>Prenom Envoyeur</th>
                <th>Telephone Envoyeur</th>
                <th>Nom Beneficier</th>
                <th>Prenom Beneficier</th>
                <th>Telephone Beneficier</th>
                <th>Montant</th>
                <th>Date D'Envoi</th>
                <th>Caisier</th>
                <th>Date de Retrait</th>


              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let Transaction of Transaction"> 
                <td>{{ Transaction.nomE }}</td>
                <td>{{ Transaction.prenomE }}</td>
                <td>{{ Transaction.telephoneE }}</td>
                <td>{{ Transaction.nomB }}</td>
                <td>{{ Transaction.prenomB }}</td>
                <td>{{ Transaction.telephoneB }}</td>
                <td>{{ Transaction.montant }}</td>
                <td>{{ Transaction.dateTrans }}</td>
                <td>{{ Transaction.user.username }}</td>
                <td>{{Transaction.dateretrait}}</td>
              </tr>

                <tr *ngFor="let trans of Transaction.transaction">
                <td>{{trans.dateretrait}}</td>
                <td>{{trans.nomE }}</td>
                <td>{{trans.prenomE }}</td>
                <td>{{trans.telephoneE }}</td>
                <td>{{trans.nomB }}</td>
                <td>{{trans.prenomB }}</td>
                <td>{{trans.telephoneB }}</td>
                <td>{{trans.montant }}</td>
                <td>{{trans.dateTrans }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>