
    <!-- Side Navbar -->
            <div class="container">
              <section class="forms">
                     <!-- Basic Form-->
                     <div class="card">
                        <div class="row">
                            <div class="col-lg-12">
                              <div class="row">
                            <div class="col-lg-6">
                                <div class="card-header d-flex align-items-center">
                                  <h3 class="h4">Information du Partenaire</h3>
                                </div>
                                <div class="card-body">
                                  <p>Rapide Fiable !! xana nexx!!</p>
                                  <form #ldepot="ngForm" (ngSubmit)="infopart(ldepot.value )" >
                                      <div class="form-group">
                                          <label class="form-control-label">Numero Compte</label>
                                          <input type="number" name="numeroCompt" ngModel class="form-control">
                                          
                                        </div>
                                  <p>NINEA du Partenaire: {{ compt.partenaire.ninea }}</p>
                                  <p>Raison Social du Partenaire: {{ compt.partenaire.raisonSocial }}</p>
                                  <p>Adresse du Partenaire: {{ compt.partenaire.adresse }}</p>
                                  <p>Telephone du Partenaire: {{ compt.partenaire.telephone }}</p>
                                  <p></p>
                                </form>
                                </div>
                              
                            </div>
                            <div class="col-lg-6">
                                  <div class="card-close">
                                  </div>
                                  <div class="card-header d-flex align-items-center">
                                    <h3 class="h4">Depot</h3>
                                  </div>
                                  <div class="card-body">
                                    <p>Rapide Fiable !! xana nexx!!</p>
                                    <form #f="ngForm" (ngSubmit)="depot(f.value )">
                                      <div class="form-group">
                                        <label class="form-control-label">Numero Compte</label>
                                        <input type="number" name="Numero" ngModel class="form-control">
                                        
                                      </div>
                                      
                                      <div class="form-group">       
                                        <label class="form-control-label">Montant</label>
                                        <input type="number" name="montant" ngModel class="form-control">
                                      </div>
                                      <div class="form-group">       
                                          <label class="form-control-label">Solde:{{ compt.solde }} </label>
                                       
                                        </div>
                                      <div class="form-group">       
                                        <input type="submit" value="Valide" style="flex: 2%;background-color: #796AEE"class="btn btn-primary">
                                      </div>
                                    </form>
                                  </div>
                              </div>
                            </div>
                          </div>
                          </div>
                     </div>
                    
          
                <div class="card" style="width: 100%">
                    <div class="card-header d-flex align-items-center">
                      <div class="liste">
                      <h3 class="h4">Historique des Depots</h3>
                    </div>
                  </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-striped table-sm">
                          <thead>
                            <tr>
                              <th>Montant</th>
                              <th>Date de Depot</th>
                              <th>Caisier</th>
                              
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                            <tr *ngFor="let partenaire of compt.depots">
                              <td>{{ partenaire.montant }}</td>
                              <td>{{ partenaire.dateDepot }}</td>
                              <td>{{ partenaire.cassier.username }}</td>
                            </tr>
  
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
             
                    
              </section>
  </div>





