.rouge{
    background-color: rgba($color: #ff0000, $alpha: 0.5)
}

.noir{
    background-color:#796AEE;
}
.image{
    width: 150px;
    height:150px;
    border-radius: 50%;  
}
.gris{
    background-color: #eeeeee;
    border-radius: 10px;
}
.list{
    background-color: #212529;
    color: white;
    border-radius: 10px;


}