
  
  
        
                   <div class="container mt-4 px-3 py-3">
 
              <div class="row " >
                <div class="col-lg-12">
                    <!-- Page Header-->
                    <div class="card-header d-flex align-items-center list">
                      <h4 class="mx-auto" >Transaction</h4>
                    </div>
                
              <!-- transaction -->
              <div class=" px-3 py-3 gris">  
                  <form #ajout="ngForm" (ngSubmit)="transaction(ajout.value )">
                    <div class="row">
                      <div class="col-lg-12">
                      <div class="modal-footer btposition ">
                          <div class="i-checks">
                              <input (click)="choix1()" id="choix1" type="radio" value="1" ngModel name="type" class="radio-template trans">
                              <label for="choix1">Envoi</label>
                            </div>
                            <div class="i-checks">
                              <input (click)="choix2()" id="choix2" type="radio" checked="" ngModel value="2" name="type" class="radio-template">
                              <label for="choix2">Retrait</label>
                            </div>
                          </div>
                        </div>
                      </div>
                          <div class="row">
                            <div class="col-lg-6">
                              
                            <div class="form-group" id="nomEnvo">
                              <label>Nom Envoyeur</label>
                              <input type="text"  ngModel placeholder="Nom Envoyeur" name="nomE" class="form-control">
                            </div>
                            <div class="form-group" id="prenomE">
                              <label>Prenom Envoyeur</label>
                              <input type="text"  ngModel placeholder="Prenom Envoyeur" name="prenomE"
                                class="form-control">
                            </div>
                            <div class="form-group" id="numE">
                              <label>Numero CI Envoyeur</label>
                              <input type="text" id="envoi" ngModel placeholder="Numero CI Envoyeur" name="cniE" class="form-control">
                            </div>
                            <div class="form-group" id="telephoneE">
                              <label>Telephone Envoyeur</label>
                              <input type="text"  ngModel placeholder="Telephone" name="telephoneE" class="form-control">
                            </div>
                            <div class="form-group" id="NumeroCINBeneficier">
                                <label>Numero CIN Beneficier</label>
                                <input type="number"  ngModel placeholder="Numero CIN Beneficier" name="cniB" class="form-control">
                              </div>
                          </div>

                          <div class="col-lg-6">   
                              <div class="form-group"id="nomB">
                                  <label>Nom Beneficier</label>
                                  <input type="text"  ngModel placeholder="Nom Beneficier" name="nomB" class="form-control">
                                </div>
                                <div class="form-group" id="prenomB">
                                  <label>Prenom Beneficier</label>
                                  <input type="text" ngModel placeholder="Prenom Beneficier" name="prenomB" class="form-control">
                                </div>    
                              <div class="form-group"  id="telephoneB">
                                  <label>Telephone Beneficier</label>
                                  <input type="number" ngModel placeholder="Telephone Beneficier" name="telephoneB" class="form-control">
                                </div>
                              <div class="form-group"  id="montant">
                                  <label>Montant</label>
                                  <input type="number" ngModel placeholder="Montant" name="montant" class="form-control">
                                </div>         
                                <div class="form-group" id="coderetrait">
                                    <label>Code Retrait</label>
                                    <input type="text" ngModel placeholder="code de Retrait" name="code" class="form-control">
                                  </div>
                               
                          </div>
                    </div>                      
                    <div class="form-group">
                      <input type="submit" value="Enregistrer" style="flex: 2%;background-color: #796AEE" class="btn btn-primary">
                    </div>
                  </form>
              </div>
              </div>
              </div>
            </div>

          
        
         