.btposition{
    display: flex;
    justify-content: space-between;
}
.gris{
    background-color: #eeeeee;
    border-radius: 10px;
}
.list{
    background-color: #212529;
    color: white;
    border-radius: 10px;
}

